doctype html
html(ng-app='generatori')
  head
    title FUNNEL TempAgent
    //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat')
    //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Titillium+Web')
    // Bootstrap things
    link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
    // jQuery
    script(src='/jQuery/jquery-1.11.0.min.js')
    // Angular
    script(src='/angular/angular.min.js')
    script(src='/js/gen.js')
    // Firebase
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js')
    // Other scripts
    block scripts
  body(ng-controller='genCtrl', onload="init();")
    // The router (index.js) sets the current page variable (navig) to the name of the current page.
    mixin toggleli(page)
      if navig == page
        li.active
          block
      else
        li
          block

    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/', style='font-size:2em') FUNNEL TempAgent
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            +toggleli('home')
              a(href='/home') Home
            +toggleli('templates')
              a(href='/templates') Templates
            +toggleli('data')
              a(href='/data') Data
            +toggleli('generator')
              a(href='/generator') Generator
    header.col-md-12
      block header
    block content